[submodule "lib/libjoystick"]
	path = lib/libjoystick
	url = git@github.com:drewnoakes/joystick.git
[submodule "lib/libRobot"]
	path = lib/libRobot
	url = git@github.com:jtmaston/ArmLibCpp.git
[submodule "lib/libRASM"]
	path = lib/libRASM
	url = https://github.com/jtmaston/RASM.git
