[submodule "lib/libRobot"]
	path = lib/libRobot
	url = https://github.com/jtmaston/ArmLibCpp.git
[submodule "lib/libRASM"]
	path = lib/libRASM
	url = https://github.com/jtmaston/RASM.git
	branch = v2
[submodule "lib/libQuirc"]
	path = lib/libQuirc
	url = https://github.com/dlbeer/quirc.git
	branch = master
