kbproto-1.0.7
kivy
renderproto-0.11
venv
xextproto-7.3.0
xproto-7.0.31
build.sh
.idea
__pycache__
*.a
*.so
tester.py
*.o
*.out
build
.vscode
build-cpp-*
*workspace
cpp/src/networking
.DS_Store
cmake*
quirc*
cmake-build-debug*
cmake-build-debug/